extends layout

block content
  div#viewer

block scripts
  script(src="/js/async.js")
  script(src="/js/three.js")
  script(src="/js/OrbitControls.js")
  script(src="/js/theta-viewer.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="/coffee/index.coffee" type="text/coffeescript")
