doctype html

html
  head
    title= title
    link(rel="stylesheet" href="/css/style.css")
    block templates
  body
    block content
    script(src="/js/lodash.js")
    script(src="/js/jquery.js")
    script(src="/js/coffee-script.js")
    block scripts
